{
  "env": {
    "browser": true
  },
  "extends": ["alloy", "alloy/react"],
  "globals": {},
  "plugins": ["react-hooks", "prettier"],
  "root": true,
  "rules": {
    "no-invalid-this": "off",
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/forbid-component-props": [
      "error",
      {
        "forbid": ["id", "style"]
      }
    ],
    "react/forbid-dom-props": [
      "error",
      {
        "forbid": ["id", "style"]
      }
    ]
  }
}
