{
  "env": {
    "amd": false,
    "applescript": false,
    "atomtest": false,
    "browser": true,
    "commonjs": false,
    "embertest": false,
    "es6": true,
    "greasemonkey": false,
    "jasmine": false,
    "jest": false,
    "jquery": false,
    "meteor": false,
    "mocha": false,
    "mongo": false,
    "nashorn": false,
    "node": true,
    "phantomjs": false,
    "prototypejs": false,
    "protractor": false,
    "qunit": false,
    "serviceworker": false,
    "shared-node-browser": false,
    "shelljs": false,
    "webextensions": false,
    "worker": false
  },
  "extends": [
    "eslint-config-alloy/vue",
    "plugin:prettier/recommended",
    "prettier/vue"
  ],
  "globals": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "root": true,
  "rules": {
    "prettier/prettier": "error"
  }
}
